@model ProgrammingLan
@{
    ViewData["Title"] = "Create";
}

<form method="post" class="user">
    <div class="form-group">
        <input type="text" asp-for="@Model.Name" class="form-control form-control-user"
             placeholder="Name Here.........">
    </div> 
    <div class="form-group">
        <input type="text" asp-for="@Model.Path" class="form-control form-control-user"
             placeholder="Path Here.........">
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Create
    </button>
    <hr>
 
</form>
